body {
    background-color: khaki;
    font-family: Tahoma;
    line-height: 1.5;
}
p {
    color: #434b4d;
}
.parrafo_prueba {
    color:maroon;
    text-decoration: underline;

}
nav {
    background-color:palegoldenrod;
    border: solid 6px peru;

}
#contacto {
    border: solid 5px silver;
    margin: 10px;
    padding: 28px 28px;
    background-color: wheat;
}